<h1>Editing checklist</h1>

<%= render "form", checklist: @checklist %>

<br>

<div>
  <%= link_to "Show this checklist", @checklist %> |
  <%= link_to "Back to checklists", checklists_path %>
</div>
