<p style="color: green"><%= notice %></p>

<h1>Checklists</h1>

<div id="checklists">
  <% @checklists.each do |checklist| %>
    <%= render checklist %>
    <p>
      <%= link_to "Show this checklist", checklist %>
    </p>
  <% end %>
</div>

<%= link_to "New checklist", new_checklist_path %>
